#Index metodlari.

In [ ]:
# barcha kutubhonalarni chaqiramiz.
import pandas as pd
import numpy as np
from pandas import Series
from pandas import DataFrame

In [ ]:
# kerakli faylni yuklab olamiz.
df=pd.read_csv("https://raw.githubusercontent.com/JamshidSalimov/Ai-Fayls/master/uzbekistan.csv", index_col=0)
df.head()

                   Maydoni (kv.km)    Aholisi
Boʻlinishi
Andijon viloyati            4200.0  1899000.0
Buxoro viloyati            39400.0  1384700.0
Fargʻona viloyati           6800.0  2597000.0
Jizzax viloyati            20500.0   910500.0
Xorazm viloyati             6300.0  1200000.0

In [ ]:
# DF ning indexlari ham uning ustunlari ham aslida alohida obyektlar

In [ ]:
# Df ning indexlari orasida biz izlagan index bor yoki yuqligini aniqlash

In [ ]:
# Transpos metodi bilan shug'illanish

In [ ]:
# Df ning columnslari orasida biz izlagan index bor yoki yuqligini aniqlash

Python ro'yxatlaridan farqli ravishda Index takrorlanuvchi qiymatlar ega bo'lishi mumkin:

In [ ]:
# yaratgan lug'atlardan yangi bir lug'at yaratib olamiz
datax={
    "username":{"Abror":"Abror1202","Oybek":"Oybek7707", "Shohrux":"Shox777","Maruf":"Maruf5505"},
    "email":{"Abror":"abror1202@gmail.com","Oybek":"oybek7707@mail.ru", "Shohrux":"shox777@gmail.com","Maruf":"maruf5505@gmail.com"}
}

In [ ]:
#Lug'at ichidagi lug'atdan biz DataFrame yaratamiz.

Ruyhatlardan farqli ravishda DataFramelarda indexlar takrorlanishi va ularning qiymatlarin turli bo'lishi mumkun.

In [ ]:
# bu DF ning indexlarini chiqarib olamiz
data2 = {
    'username':{"Oybek":"oybek07", "Shohrux":"shox2022"},
    'email':{"Oybek":"oybekjon07@mail.ru", "Shohrux":"shox2022@gmail.com"}
}

In [ ]:
# biz ruyhatlar bilan ishlagan vaqtimizda indexlari takrorlanmas edi bu yerda esa unday emas 
# keling buni kodda tushinib olamiz
# shu kabi qiymatlariga murojat qilar edik bu yerda 0 ham 1 ham bitta buladi

In [ ]:
#biror elimentiga murojat qilib ko'ramiz

In [ ]:
# lekin DataFrame larda bunday emas. indexlari takrorlanishi mumkun.
# keling buni kod orqali ko'ramiz yana bir mal'umot yaratib olamiz

In [ ]:
# bu lug'atdan ham DF yaratib olamiz

In [ ]:
# bu ikkala ma'lumotni qushib yuboramiz
# bunda maxsus append() metodidan foydalanayabmiz.

Bazi Index metodlar va parametrlar bilan tanishamiz.

In [ ]:
# pandasning Index metodi yordamida ichiga ruyhat uzatib yangi Index yaratishimiz ham mumkun.
# bu indexlar hech qaysi DF ga tegishli bulmagan yangi index obyekti bo'ldi
#["Shohrux","Ali","Vali"]

Indeks boshqa indeks tarkbidia ekanini tekshirish

In [ ]:
# bizda milyonlab foydalanuvchilar bor biz o'lar orasidan biz izlayotgan foydalanuvchi indexlari bor yoki yuqligini 
#.isin() metodi orqali tekshirishimiz mumkun.

In [ ]:
# df1.index  new_ind tarkibida borligini tekshirish.

Indeksning boshqa indeksdan farqini tekshirish

In [ ]:
# .difference() metodi df3.index ning yangi new_ind bilan farqini tekshirish

In [ ]:
# yoki new_ind ning df3 bilan farqini tekshirish

Ikki indeks to'plami union() metodi

In [ ]:
# 1-DF ni chiqarib olamiz

In [ ]:
# 2-DF ni chiqarib olamiz

Index(['Abror', 'Oybek', 'Shohrux', 'Maruf'], dtype='object')

In [ ]:
#.union() metodi ikki obyekt indexlarini birlashtirish.

Obyekt indexlarini o'chirish .delete() va .drop()

In [ ]:
#.delete() index tartib raqami orqali o'chirish

In [ ]:
#drop() metodi indexning qiymati orqali o'chirish

indexlar orasiga yangi index qushish .insert() metodi

In [ ]:
# unique() metodi takrorlanmas index elimentlarini ko'rsatadi.

#Qayta indexlash

In [ ]:
import pandas as pd
import numpy as np
from pandas import Series
from pandas import DataFrame

In [ ]:
# quydagi lug'atni yaratib oldik.
datac = {'Yil':[2022,2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[35,33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       'Temp':[1.1,1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53],
       'Zichlik':[81.21,79.77, 78.68, 77.53, 76.34, 75.13, 73.91, 72.71, 67.03]}

In [ ]:
#bundan DataFrame yaratib olami va  DataFrame ni chiqarib olamiz.
df=pd.DataFrame(datac)
df

    Yil  Aholi soni  Temp  Zichlik
0  2022        35.0  1.10    81.21
1  2021        33.9  1.54    79.77
2  2020        33.5  1.48    78.68
3  2019        32.9  1.56    77.53
4  2018        32.5  1.62    76.34
5  2017        31.9  1.65    75.13
6  2016        31.4  1.66    73.91
7  2015        30.9  1.64    72.71
8  2010        28.5  1.53    67.03

In [ ]:
# maxsus indexlarni yaratamiz. va uni df ning indexlariga o'zatamiz
ind=[22,21,20,19,18,17,16,15,10]
df.index=ind
df

     Yil  Aholi soni  Temp  Zichlik
22  2022        35.0  1.10    81.21
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        32.5  1.62    76.34
17  2017        31.9  1.65    75.13
16  2016        31.4  1.66    73.91
15  2015        30.9  1.64    72.71
10  2010        28.5  1.53    67.03

In [ ]:
ind.sort()
print(ind)
ind1=[22,21,19,18,10,17,16,15,20]
print(ind1)

[10, 15, 16, 17, 18, 19, 20, 21, 22]
[22, 21, 19, 18, 10, 17, 16, 15, 20]

In [ ]:
# bu indexlarni tartiblab olamiz
df.reindex(index=ind)

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    67.03
15  2015        30.9  1.64    72.71
16  2016        31.4  1.66    73.91
17  2017        31.9  1.65    75.13
18  2018        32.5  1.62    76.34
19  2019        32.9  1.56    77.53
20  2020        33.5  1.48    78.68
21  2021        33.9  1.54    79.77
22  2022        35.0  1.10    81.21

In [ ]:
# nearest, ffill, bfill
df=df.reindex(index=range(10,23),method="bfill")
df

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    67.03
11  2010        28.5  1.53    67.03
12  2010        28.5  1.53    67.03
13  2010        28.5  1.53    67.03
14  2010        28.5  1.53    67.03
15  2015        30.9  1.64    72.71
16  2016        31.4  1.66    73.91
17  2017        31.9  1.65    75.13
18  2018        32.5  1.62    76.34
19  2019        32.9  1.56    77.53
20  2020        33.5  1.48    78.68
21  2021        33.9  1.54    79.77
22  2022        35.0  1.10    81.21

In [ ]:
A=df.index
B=[]
for x in A:
  if x%2==0:
    B.append(x)
print(B)

[10, 12, 14, 16, 18, 20, 22]

In [ ]:
df.reindex(index=B)

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    67.03
12  2010        28.5  1.53    67.03
14  2010        28.5  1.53    67.03
16  2016        31.4  1.66    73.91
18  2018        32.5  1.62    76.34
20  2020        33.5  1.48    78.68
22  2022        35.0  1.10    81.21

yuqoridagi df dagi indexlar son, harf, turli matinlardan iborat bo'lishi mumkun.

In [ ]:
# indexlarini o'zgartirib olamiz. tartiblab olamiz

In [ ]:
# reindex() metodidan foydalanamiz.

In [ ]:
# etibor  bering df ni o'zini chiqarib ko'rsak u o'zgarmagan
# chunki ...

In [ ]:
# bu muammoni qanday hal qilamiz

In [ ]:
# biz reindex yordamida bazi indexlarni tashlab yuborishimiz mumkun.
# bunda reindex()ga biz hohlagan indexlar ruyhatini utqazamiz.

Yuqorida biz indexlarni biz bergan ruyxat bilan almashtirganimizda uning o'zunligi df ning qatorlar soniga teng bo'lishi kerak edi.

In [ ]:
# biz qayta indexlaganda biz berayotgan ruyhat dataning uzunligiga teng bo'lishi kerakmi?
# range yordamida hosil qilamiz.

In [ ]:
# bu kabi bo'sh elimentlarni bir qancha metodlar yordamida tuldirishimiz mumkun.
# method argumintiga 'nearest' metodini beramiz.

In [ ]:
# 'ffill' metodi forward fill degani o'zidan oldingi qiymatni olib o'zlashtiradi.

In [ ]:
# bu qilgan o'zgarishlar asosiy DataFrame ga tasir qilmaydi

In [ ]:
# bizga bu DF da Yil degan ustun kerak emas reindex() metodiga columns argumintiga ustunlar ruyhatini beramiz

In [ ]:
# head() va sample() metodlari
df.sample(3)

     Yil  Aholi soni  Temp  Zichlik
11  2010        28.5  1.53    67.03
17  2017        31.9  1.65    75.13
12  2010        28.5  1.53    67.03

In [ ]:
# .loc[] metodi endi biz ham ustun va qatorlarni birdan qayta indeklamoqchimiz
# bunda index ruyhatini va ustun ruyhatini loc[] metodiga berishimiz kerak

#Qator va Ustunlarni tashlab yuborish

In [ ]:
# DF ni chaqirib olamiz
df.drop([10,15,16])

     Yil  Aholi soni  Temp  Zichlik
11  2010        28.5  1.53    67.03
12  2010        28.5  1.53    67.03
13  2010        28.5  1.53    67.03
14  2010        28.5  1.53    67.03
17  2017        31.9  1.65    75.13
18  2018        32.5  1.62    76.34
19  2019        32.9  1.56    77.53
20  2020        33.5  1.48    78.68
21  2021        33.9  1.54    79.77
22  2022        35.0  1.10    81.21

In [ ]:
# axis=0 .drop() metodi yordamida qator va ustunlarnin tashlab yuborish
df1=df.drop(["Yil"],axis="columns")
df1

    Aholi soni  Temp  Zichlik
10        28.5  1.53    67.03
11        28.5  1.53    67.03
12        28.5  1.53    67.03
13        28.5  1.53    67.03
14        28.5  1.53    67.03
15        30.9  1.64    72.71
16        31.4  1.66    73.91
17        31.9  1.65    75.13
18        32.5  1.62    76.34
19        32.9  1.56    77.53
20        33.5  1.48    78.68
21        33.9  1.54    79.77
22        35.0  1.10    81.21

In [ ]:
# bir nechta qatorlarni tashlab yuborish
df.drop(["Zichlik"],axis=1,inplace=True)

In [ ]:
# 1-usuli axis=1 biz ustunlarni ham tashlab yuborish
df

     Yil  Aholi soni  Temp
10  2010        28.5  1.53
11  2010        28.5  1.53
12  2010        28.5  1.53
13  2010        28.5  1.53
14  2010        28.5  1.53
15  2015        30.9  1.64
16  2016        31.4  1.66
17  2017        31.9  1.65
18  2018        32.5  1.62
19  2019        32.9  1.56
20  2020        33.5  1.48
21  2021        33.9  1.54
22  2022        35.0  1.10

In [ ]:
# 2-usuli axis='columns'

In [ ]:
# bu o'zgarishlar asl DF ga tasir ko'rsatmaydi buni bir necha marotaba takidladik
# biz asil DF ga tasir erishimizning 2 usuli mavjud.
# 1-usuli

In [ ]:
# 2-usul.drop() metodiga inplace=True dan foydalanamiz.